<div id="<%= dom_id turma %>">
  <p>
    <strong>Nome:</strong>
    <%= turma.nome %>
  </p>

  <p>
    <strong>Inico:</strong>
    <%= turma.inico %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= turma.fim %>
  </p>

  <p>
    <strong>Horas:</strong>
    <%= turma.horas %>
  </p>

</div>
